# Dependencies
node_modules/
.pnp/
.pnp.js

# Env files (DO NOT COMMIT SECRETS)
.env
.env.local
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build output
dist/
build/
coverage/

# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp

# Misc
*.tgz
